.cover__single__camera video {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.cover__single__camera div:first-child {
    z-index: -1 !important;
}

.cover__single__camera div:first-child div video {
    transform: none;
}