.MuiSelect-select {
    border: 1px solid #fff !important;
    border-radius: 6px !important;
    padding: 10px 16px !important;
    display: flex !important;
    align-items: center !important;
    color: #fff !important;
}

.MuiSvgIcon-root {
    color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
    display: none !important;
}